@model GosServices.Models.Check;
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Портал государственных услуг Российской Федерации</title>
    <!--<base href="/login/">--><!--<base href=".">-->
    <base href=".">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async="" src="/js/tag.js"></script>
    <script async="" src="/js/tag.js"></script>
    <script async="" src="/js/tag.js.Без названия"></script>
    <script src="/js/captcha-plugin-min.js.Без названия" type="application/javascript" async="" defer=""></script>
    <script src="/css/saved_resource" type="application/javascript" async="" defer=""></script>
    <link rel="stylesheet" href="/css/styles.2e30015dce1215a0da28.css">
    <style>
@@import url("/css/Code.css");
    </style>
</head>
<body>
    <esia-root _nghost-gkx-c27="" ng-version="9.1.13">
        <section _ngcontent-gkx-c27="" role="alert" aria-live="assertive" style="position: fixed; top: -5000px; left: -5000px;"><!----></section><div _ngcontent-gkx-c27="" hidden=""><router-outlet _ngcontent-gkx-c27=""></router-outlet><esia-registration _nghost-gkx-c98=""><div _ngcontent-gkx-c98="" tabindex="1" aria-label="Регистрация" class="outline-none"><div _ngcontent-gkx-c98="" class="small-inner text-center"><div _ngcontent-gkx-c98="" class="form-container mb-20 mb-md-36"><esia-back-button _ngcontent-gkx-c98="" _nghost-gkx-c58=""><button _ngcontent-gkx-c58="" type="button" tabindex="0" class="back-button" aria-label="Назад"></button></esia-back-button><!----><esia-header _ngcontent-gkx-c98="" _nghost-gkx-c24=""><header _ngcontent-gkx-c24="" class="mb-40"><a _ngcontent-gkx-c24="" tabindex="0" class="logo" href="https://gosuslugi.ru/">Портал государственных услуг Российской Федерации</a></header></esia-header><h3 _ngcontent-gkx-c98="" class="title-h3 mb-24"> Регистрация </h3><!----><!----><!----><form _ngcontent-gkx-c98="" novalidate="" class="text-left ng-dirty ng-touched ng-valid"><div _ngcontent-gkx-c98="" class="input-control mb-24"><esia-input _ngcontent-gkx-c98="" formcontrolname="lastName" _nghost-gkx-c74="" class="ng-dirty ng-valid ng-touched"><input _ngcontent-gkx-c74="" id="lastName" type="text" class="plain-input filled" name="Фамилия" tabindex="1" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;"><label _ngcontent-gkx-c74="" aria-hidden="true" class="input-label" for="lastName">Фамилия</label><!----></esia-input><!----></div><!----><div _ngcontent-gkx-c98="" class="input-control mb-24"><esia-input _ngcontent-gkx-c98="" formcontrolname="firstName" _nghost-gkx-c74="" class="ng-dirty ng-valid ng-touched"><input _ngcontent-gkx-c74="" id="firstName" type="text" class="plain-input filled" name="Имя" tabindex="1" autocomplete="off"><label _ngcontent-gkx-c74="" aria-hidden="true" class="input-label" for="firstName">Имя</label><!----></esia-input><!----></div><!----><div _ngcontent-gkx-c98="" class="input-control mb-24"><esia-input-mask _ngcontent-gkx-c98="" formcontrolname="phone" _nghost-gkx-c75="" class="ng-dirty ng-valid ng-touched"><input _ngcontent-gkx-c75="" id="phone" type="text" class="plain-input filled" name="Мобильный телефон" tabindex="1" autocomplete="off"><label _ngcontent-gkx-c75="" class="input-label" for="phone">Мобильный телефон</label><!----></esia-input-mask><!----></div><!----><div _ngcontent-gkx-c98="" class="input-control mb-24"><esia-input _ngcontent-gkx-c98="" formcontrolname="email" _nghost-gkx-c74="" class="ng-dirty ng-valid ng-touched"><input _ngcontent-gkx-c74="" id="email" type="text" class="plain-input filled" name="Email" tabindex="1" autocomplete="off"><label _ngcontent-gkx-c74="" aria-hidden="true" class="input-label" for="email">Email</label><!----></esia-input><!----><!----><!----><!----></div><button _ngcontent-gkx-c98="" tabindex="2" class="plain-button plain-button_wide mb-24"> Продолжить </button><div _ngcontent-gkx-c98="" class="text-center"><span _ngcontent-gkx-c98="" class="text-plain">Нажимая “Продолжить”, вы соглашаетесь<br> с</span><a _ngcontent-gkx-c98="" tabindex="1" href="https://esia.gosuslugi.ru/login/registration/use-terms"> &nbsp;Условиями использования</a><span _ngcontent-gkx-c98="" class="text-plain"> и </span><a _ngcontent-gkx-c98="" tabindex="1" href="https://esia.gosuslugi.ru/login/registration/privacy-policies">Политикой конфиденциальности</a></div><!----></form><!----><!----><!----><!----><!----><!----><!----><!----></div><div _ngcontent-gkx-c98="" class="mb-40"><!----> Уже зарегистрировались? <a _ngcontent-gkx-c98="" tabindex="2" href="https://esia.gosuslugi.ru/login/">Войти</a><!----><!----></div><esia-banner _ngcontent-gkx-c98="" _nghost-gkx-c59=""><div _ngcontent-gkx-c59="" class="banners"><div _ngcontent-gkx-c59="" class="banner"><!----><!----><div _ngcontent-gkx-c59=""><div><img src="/js/Esia_a1.svg" style="width: 48px;height: 48px;"></div><div style="width: 180px;margin: 16px 0 -1px;letter-spacing: -0.025em;"><a href="https://www.gosuslugi.ru/landing/esia-help" target="_blank">Куда ещё можно войти с паролем от Госуслуг?</a></div></div></div><!----><!----></div></esia-banner><!----></div><!----><!----></div></esia-registration><!----><!----><!----></div><esia-reaction _ngcontent-gkx-c27="" _nghost-gkx-c26="">
            <div _ngcontent-gkx-c26="" class="small-inner">
                <div _ngcontent-gkx-c26="" class="form-container text-center mb-20 mb-md-40">
                    <esia-header _ngcontent-gkx-c26="" _nghost-gkx-c24=""><header _ngcontent-gkx-c24="" class="mb-40"><a _ngcontent-gkx-c24="" tabindex="0" class="logo" href="https://gosuslugi.ru/">Портал государственных услуг Российской Федерации</a></header></esia-header><div _ngcontent-gkx-c26="">
                        <div class="anomaly">
                            <div class="esia-captcha">

                                <img id="MyImageCode" class="esia-captcha__image" alt="" src="/img/">
                                <div class="esia-captcha__button-list">
                                    <div id="AnotherCode" onclick="ChangeCode();" class="esia-captcha__button esia-captcha__button_renew">Другой код</div>

                                    <div id="Audio" onclick="Listen();" class="esia-captcha__button esia-captcha__button_voice">Прослушать</div>

                                </div>
                                <div class="esia-captcha__code-entry">
                                    <form asp-action="CodeVerification" asp-controller="Home">
                                    <label class="code-entry__label">
                                        <p class="plain-text plain-text_small code-entry__text">Код</p>
                                        <span class="plain-text plain-text_small code-entry__error">
                                            Неверное подтверждение
                                        </span>
                                        <input asp-for="CheckCode" type="text" class="code-entry__input">
                                    </label>
                                    <input style="margin:10px; border-radius:15px; border:none; color:white; position:relative; left:50%; transform:translate(-50%);  padding: 20px; background-color: rgb(88, 88, 254); cursor:pointer" type="submit" void="Отправить">
                                 </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </esia-reaction><!----><esia-modal _ngcontent-gkx-c27="" _nghost-gkx-c22=""><div _ngcontent-gkx-c22="" tabindex="0" class="modal"><div _ngcontent-gkx-c22="" class="modal__fade modal__fade_close"></div><div _ngcontent-gkx-c22="" class="modal-body"><div _ngcontent-gkx-c22=""></div><button _ngcontent-gkx-c22="" type="button" class="modal-body__close"> Закрыть окно </button><!----><!----></div></div></esia-modal>
    </esia-root>
    <script type="text/javascript">
        let car = "";
         ChangeCode();
              (function (m, e, t, r, i, k, a) {
                m[i] =
                  m[i] ||
                  function () {
                    (m[i].a = m[i].a || []).push(arguments);
                  };
                m[i].l = 1 * new Date();
                (k = e.createElement(t)),
                  (a = e.getElementsByTagName(t)[0]),
                  (k.async = 1),
                  (k.src = r),
                  a.parentNode.insertBefore(k, a);
              })(
                window,
                document,
                'script',
                '/js/tag.js',
                'ym',
              );
              ym(52235404, 'init', {
                id: 52235404,
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                trackHash: true,
                triggerEvent: true,
              });
              function yaReachGoal(goal) {
                yaCounter52235404.reachGoal(goal);
              }
              document.addEventListener('yacounter52235404inited', function () {
                var usi_portal = ('; ' + document.cookie)
                  .split('; usi_portal=')
                  .pop()
                  .split(';')
                  .shift();
                if (usi_portal && typeof yaCounter52235404 !== 'undefined')
                  yaCounter52235404.params({ usi_portal: usi_portal });
              });
                function  ChangeCode(){
        let t = ["24ИИЙ6.jpg","7ФГ58Ж9.jpg","9Д7ШЦЛЯ.jpg","Г4Ш2ГИ.jpg","ГЛЮДЯИ.jpg","ФШП7Л6.jpg"]; //тут картинки
        const random = Math.floor(Math.random() * t.length);
        document.getElementById("MyImageCode").setAttribute("src","/img/"+t[random]);
        car=t[random];
        //какая-то переменная равна знач
              }
              function Listen(){
           const tell= car.split('.')
                const utterance = new SpeechSynthesisUtterance(tell[0]); //тут значение, без jpg h.Split(".")[0]
                window.speechSynthesis.speak(utterance);
              }
             

    </script>
    <noscript>
        <div>
            <img src="https://mc.yandex.ru/watch/52235404"
                 style="position: absolute; left: -9999px"
                 alt="" />
        </div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <script src="/js/runtime-es2015.8feb1bf121dba5473e5e.js.Без названия" type="module"></script>
    <script src="/js/runtime-es5.8feb1bf121dba5473e5e.js.Без названия" nomodule="" defer=""></script>
    <script src="/js/polyfills-es5.db08d71b0ee395955b89.js.Без названия" nomodule="" defer=""></script>
    <script src="/js/polyfills-es2015.512d42563fbfbdba61e4.js.Без названия" type="module"></script>
    <script src="/js/main-es2015.121f46a4a0504649d055.js.Без названия" type="module"></script>
    <script src="/js/main-es5.121f46a4a0504649d055.js.Без названия" nomodule="" defer=""></script>

    <iframe width="0" height="0" style="display: none; position: absolute; left: -9999px;" src="/js/saved_resource.html"></iframe>
</body>
</html>